
<div class="right-side-diagnostics" *ngIf="adb.diagnostics">
<h4 i18n>Connection Status</h4>
<div i18n>
  <div class="status-circle" [ngClass]="{'green': adb.diagnostics.usb && adb.diagnostics.usb.is_connected}"></div>
  <span class="status-text">{{adb.diagnostics.usb && adb.diagnostics.usb.is_connected?'Quest Detected':'Quest Not Detected'}}</span>
</div>
<div i18n>
  <div class="status-circle" [ngClass]="{'green': adb.diagnostics.usb && adb.diagnostics.usb.is_dev_mode_enabled}"></div>
  <span class="status-text">{{adb.diagnostics.usb && adb.diagnostics.usb.is_dev_mode_enabled?'Dev Mode Enabled':'Dev Mode Not Enabled'}}</span>
</div>
<div i18n>
  <div class="status-circle" [ngClass]="{'green': adb.diagnostics.usb && adb.diagnostics.usb.is_adb_enabled}"></div>
  <span class="status-text">{{adb.diagnostics.usb && adb.diagnostics.usb.is_adb_enabled?'ADB Detected':'No ADB Detected'}}</span>
</div>
<div i18n>
  <div class="status-circle" [ngClass]="{'green': adb.devices.length && adb.deviceStatus !== ConnectionStatus.UNAUTHORIZED}"></div>
  <span class="status-text">{{adb.devices.length && adb.deviceStatus === ConnectionStatus.UNAUTHORIZED?'Not Authorized.':'Device Authorized'}}</span>
</div>
<br>

<div class="pure-material-button-contained button-margin-bottom" (click)="helpOpen = true;" *ngIf="!adb.isReady">Fix It For Me</div>

</div>
<div class="help-section" *ngIf="helpOpen">
  <div class="diag-recommend">
    <h2 class="clearfix" i18n>
      {{(adb.diagnostics.usb && adb.diagnostics.usb.result_status=='diag-good' && adb.devices.length && adb.deviceStatus !== ConnectionStatus.UNAUTHORIZED)?'You\'re all set!':'So how do I fix it?'}}
    </h2>
    <div class="switch-margin-bottom">
      Here are some solutions we have come across related to this problem. <br>Please try the recommendations here before following tutorials online, this information is always the most up to date.
    </div>

    <div class="diag-recommend-details" i18n>{{(adb.diagnostics.usb && adb.diagnostics.usb.result_status=='diag-good' && adb.devices.length && adb.deviceStatus !== ConnectionStatus.UNAUTHORIZED) ? "Check for a popup to accept inside the headset.":adb.diagnostics.usb ? adb.diagnostics.usb.recommendation : ''}}</div>
    <br>
    <div class="pure-material-button-contained button-margin-bottom" (click)="helpOpen = false">Close</div>

  </div>
</div>
