.button-section{
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
.side-quest-version{
  position:relative;
  text-align: right;
  padding-bottom: 10px;
}

.description-section{
  font-size: 0.9rem;
  line-height: 1.5em;
}
.section-container{
  padding: 20px 40px 30px;
  //border: 1px solid white;
  //border-radius: 5px;
  background: #1c1c1c;
}
.header-divider-margin{
  margin-top: 1em;
}
