.package-height {
  height: 40px;
}
.package-item{
  border-bottom: 1px solid #cfcfcf;
}
.settings{
  font-size: 2.7rem;
  float: right;
}
.chip-padding {
  padding-top: 5px !important;
}
.app-icon{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
}
.app-name{
  vertical-align: middle;
}
