
.status-bar {
  background-color: #4caf50;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
}
.status-bar-warning {
  background-color: #ff9800;
}
