<div *ngIf="isConnected()" class="top-bar">
  <nav class="pink lighten-2 breadcrumb-wrapper ">
    <div class="nav-wrapper inner-app-container">
      <div class="col s12 truncate">
        <a *ngFor="let breadcrumb of breadcrumbs; let i = index" href="javascript:void(0)" class="breadcrumb"
          (click)="open('/'+breadcrumb.path)">{{breadcrumb.name}}<span *ngIf="i === breadcrumbs.length-1 && folderSize"> ({{folderSize}})</span> </a>
      </div>
    </div>
  </nav>
</div>
<div class="inner-app-container files-section">
  <div *ngIf="!isConnected()" class="white-text">
    <br>You are not currently connected.
    <br><br>
    <div class="pure-material-button-contained" routerLink="/setup">Open Setup Instructions</div>
  </div>
  <div *ngIf="isConnected()">
    <div *ngIf="!files.length">
      <h4 class="text-dark-theme">
        No files here...</h4>
      <div class="grey-text">{{this.currentPath}}</div>

    </div>

    <div class="beast-saber-buttons">
      <ng-container *ngFor="let favourite of appService.headerComponent.favourites.fileFavourites">
        <a href="javascript:void(0)" class="waves-effect waves-light synthrideerz margin-right"
           (click)="appService.filesComponent.open(favourite.uri)"
           mTooltip [attr.data-tooltip]="favourite.name">
          <img *ngIf="favourite.icon" src="{{favourite.icon}}" class="responsive-img" /></a>
      </ng-container>
      <div class="divider divider-margin-top margin-bottom"></div>

    </div>

    <div *ngFor="let file of files" class="cursor text-dark-theme">
      <div class="file" (click)="selectFile($event, file);  $event.stopPropagation()">
        <div class="right">
          <span *ngIf="file.icon !== 'folder'">{{file.size|number:'1.2-2'}}MB | </span>{{file.time|date:'short'}}

          <i class="material-icons cursor white-text drag-indicator save-icon"
            title="Copy full file path to the clipboard" (click)="copyPathToClipboard(file.filePath)">content_copy</i>
          <i class="material-icons cursor white-text drag-indicator save-icon"
            (click)="filesToBeSaved = [file]; filesModal.openModal();">save</i>
          <i class="material-icons cursor orange-text drag-indicator right delete"
            (click)="filesToBeDeleted = [file]; confirmModal.openModal()">close</i>
        </div>
        <div>
          <i class="material-icons medium left text-dark-theme">{{file.icon}}</i>
          <div class="filename-padding-top">{{file.name}}</div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <br><br>
</div>

<div class="fixed-action-btn" #fixedAction *ngIf="isConnected()">
  <a class="dropdown-trigger btn-floating btn-large pink lightn-2" data-position="left" mTooltip data-tooltip="Add a file." >
    <i class="large material-icons">add</i>
  </a>
<ul>
<li data-position="left" mTooltip data-tooltip="Manage favourite folders"
    (click)="appService.headerComponent.favoriteType = 'fileFavourites';appService.headerComponent.manageFavs.openModal(); appService.headerComponent.favouriteMax = 10; appService.headerComponent.favoritePathType = 'Path';"
><a class="btn-floating red"><i class="material-icons">favorite</i></a></li>
<li data-position="left" mTooltip data-tooltip="Upload file to this folder" (click)="uploadFiles()"><a
  class="btn-floating purple"><i class="material-icons">file_upload</i></a></li>
<li data-position="left" mTooltip data-tooltip="Make new folder in this folder" (click)="mkDirModal.openModal()"><a
  class="btn-floating blue"><i class="material-icons">create_new_folder</i></a></li>
<li data-position="left" mTooltip data-tooltip="Open current save location" (click)="openSaveLocation()"><a
  class="btn-floating yellow darken-2"><i class="material-icons">open_in_new</i></a></li>
<li *ngIf="quickSaveSupported()" data-position="left" mTooltip data-tooltip="Save screenshots and recordings"
    (click)="downloadMediaModal.openModal()"><a class="btn-floating green"><i class="material-icons">get_app</i></a>
</li>
<li *ngIf="selectedFiles.length > 0" class="divider"></li>
<li *ngIf="selectedFiles.length > 0" data-position="left" mTooltip data-tooltip="Delete selected items"
    (click)="filesToBeDeleted = selectedFiles; confirmModal.openModal()"><a class="btn-floating red darken-2"><i
  class="material-icons">delete</i></a></li>
<li *ngIf="selectedFiles.length > 0" data-position="left" mTooltip data-tooltip="Save selected items to computer"
    (click)="filesToBeSaved = selectedFiles; filesModal.openModal()">
  <a class="btn-floating orange"><i class="material-icons">get_app</i></a>
</li>
</ul>

</div>

<mz-modal #mkDirModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Make Folder</h4>
  </mz-modal-header>
  <mz-modal-content>
    Please enter a folder name.
    <div class="input-field ">
      <input id="devicePaste" type="text" [(ngModel)]="folderName" autofocus (keyup)="autoReturn($event, makeFolder.bind(this, true))"/>
      <label for="devicePaste">Folder Name</label>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <div class="pure-material-button-contained spaced flat active" (click)="mkDirModal.closeModal()">Close</div>
    <div class="pure-material-button-contained spaced " (click)="makeFolder(true); mkDirModal.closeModal()">Make Folder</div>
  </mz-modal-footer>
</mz-modal>

<mz-modal #filesModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Save selected file(s) to your PC</h4>
  </mz-modal-header>
  <mz-modal-content>
    Pick a location on your PC to save the following file(s):<br><br>
    <div *ngFor="let file of filesToBeSaved">
      <div class="file">
        <div>
          <i class="material-icons cursor orange-text drag-indicator" (click)="filesToBeSaved.splice(filesToBeSaved.indexOf(file), 1);
                clearSelection([file]);
                filesToBeSaved.length === 0 && filesModal.closeModal()">close</i>
          {{file.name}}
        </div>
      </div>
    </div>
    <br><br>
    <div class="pure-material-button-contained" (click)="pickLocation()">Select Location</div>
    <br><br>
    Current Location: {{adbService.savePath}}


  </mz-modal-content>
  <mz-modal-footer>
    <div class="pure-material-button-contained spaced flat active" (click)="filesModal.closeModal()">Close</div>
    <div class="pure-material-button-contained spaced" (click)="mkDirModal.closeModal(); saveFiles(filesToBeSaved); clearSelection(filesToBeSaved)">Save To PC</div>
</mz-modal-footer>
</mz-modal>

<mz-modal #downloadMediaModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Save local media to your PC</h4>
  </mz-modal-header>
  <mz-modal-content>
    Pick a location on your PC to save screenshots and recordings:<br><br>
    <div class="pure-material-button-contained spaced" (click)="pickLocation()">Select Location</div><br><br>
    Current Location: {{adbService.savePath}}


  </mz-modal-content>
  <mz-modal-footer>
    <div class="pure-material-button-contained spaced flat active" (click)="downloadMediaModal.closeModal()">Close</div>
    <div class="pure-material-button-contained spaced flat active" (click)="downloadMediaModal.closeModal(); downloadMedia()">Save To PC</div>
  </mz-modal-footer>
</mz-modal>

<mz-modal #confirmModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Delete selected file(s)</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure you want to delete the selected file(s)? <br>
    <em>Click <i class="material-icons orange-text" style="font-size: 16px">close</i> to remove files</em>
    <br><br>
    <div *ngFor="let file of filesToBeDeleted">
      <div class="file">
        <div>
          <i class="material-icons cursor orange-text drag-indicator" (click)="filesToBeDeleted.splice(filesToBeDeleted.indexOf(file), 1);
                clearSelection([file]);
                filesToBeDeleted.length === 0 && confirmModal.closeModal()">close</i>
          {{file.name}}
        </div>
      </div>
    </div>
    <br>
    WARNING: This cannot be undone!!
  </mz-modal-content>
  <mz-modal-footer>
    <div class="pure-material-button-contained spaced flat active" (click)="confirmModal.closeModal()">Close</div>

    <div class="pure-material-button-contained spaced red" (click)="confirmModal.closeModal();deleteFiles(filesToBeDeleted); clearSelection(filesToBeDeleted)">Delete Items</div>
  </mz-modal-footer>
</mz-modal>
