<div class="spinner text-center" *ngIf="isActive" >
  <div class="well well-lg">
    <div *ngIf="isLoading&&!isConfirm" class="loader-initial"></div>
    <h5 *ngIf="!isLoading" >Drop file(s) here!</h5>
    <br />
    <span class="spinner-loading-message truncate" [innerHTML]="loadingTask ? loadingTask.status : loadingMessage"></span>
    <div *ngIf="isConfirm">
      <br><br>
      <div class="pure-material-button-contained flat active" (click)="cancel()">Cancel</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="pure-material-button-contained" (click)="confirm()">Continue</div>
    </div>
  </div>
</div>
<div *ngIf="isActive" class="spinner-background"></div>
