.setup-image {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  margin: 10px auto;
  margin-bottom: 2px;
  display: block;

}
.setup-image.tall{
  max-width: 280px;
}
.section-title {
  font-size: 1.3rem;
  margin-top: 0.4em;
  margin-left: 1em;
}
.setup-container{
  width: calc(100% - 250px);
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}
.left-arrow, .right-arrow{
  position: absolute;
  top: 150px;
  left: 5px;
  z-index: 10;
}
.right-arrow{
  left: initial;
  right: 25px;
}

.flip-horizontal{
  transform: scaleX(-1);
}
