<div class="container text-dark-theme relative">
  <!--<div class="description-section" i18n>-->
  <!--  You need to do a one time setup of your quest the first time and usually not again after that. It is a 3 step process and it takes about 2-3 minutes to complete.-->
  <!--</div>-->

  <button class="pure-material-button-contained flat" [ngClass]="{'active': page === 1}" (click)="page = 1">Step 1: Create Org</button> >
  <button class="pure-material-button-contained flat" [ngClass]="{'active': page === 2}" (click)="page = 2">Step 2: Dev Mode</button> >
  <button class="pure-material-button-contained flat clearfix" [ngClass]="{'active': page === 3}" (click)="page = 3">Step 3: Connect</button>
  <app-connection-status (backHome)="backHome.emit()"></app-connection-status>
  <div class="setup-container">
    <button class="pure-material-button-contained tiny slim left-arrow" [disabled]="page < 2" (click)="page < 2 ? page = 1 : page = page - 1;">
      <img src="assets/images/back_arrow.svg"/>
    </button>

    <button class="pure-material-button-contained tiny slim right-arrow" [disabled]="page > 2" (click)="page > 2 ? page = 3 : page = page + 1;">
      <img class="flip-horizontal" src="assets/images/back_arrow.svg"/>
    </button>
    <ng-container *ngIf="page === 1">
      <video class="setup-image" #createOrganisation autoplay="true" loop="true" controls="false" src="https://sidequestvr.com/assets/videos/create_organisation.mp4" (error)="videoError(createOrganisation, $event, 'assets/setup/create_organisation.mp4')"></video>
      <h3 i18n>
        Step 1: Meta Website - Create Organisation
      </h3>
      <div class="description-section">
        <ng-container i18n>
          To allow installing apps & games to your headset we need to enable developer mode. To do this,
          you have to be a registered "developer" on the Meta website, it's free, quick and easy. Open
        </ng-container>
        <a class="diagnosticator" (click)="open('https://dashboard.oculus.com')">dashboard.oculus.com</a>
        <ng-container i18n>
          and create an 'organization'.
          You'll need to accept the developer agreement and to verify your account using either a credit card
          or a phone number. Most accounts will already be verified. Next you'll need to create an organisation like above.
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="page === 2">
      <video class="setup-image tall" #enableDevMode autoplay="true" loop="true" controls="false" src="https://sidequestvr.com/assets/videos/enable_dev_mode.mp4" (error)="videoError(enableDevMode, $event, 'assets/setup/enable_dev_mode.mp4')" (click)="open('https://sidequestvr.com/assets/images/get-sidequest/verify.png')"></video>
      <h3 i18n>
        Step 2: Enable Developer Mode and Reboot
      </h3>
      <div class="description-section" i18n>
        Now that you’re a "developer", open the Oculus app on your smartphone or tablet. In the
        Settings tab, tap on the headset and tap 'More settings'. In the list, you should now see
        Developer Mode. Once you have enabled developer mode it is a good idea to reboot your headset
        to be able to see it on the device.
      </div>
    </ng-container>
    <ng-container *ngIf="page === 3">
      <video class="setup-image" #connectAccept autoplay="true" loop="true" controls="false"  src="https://sidequestvr.com/assets/videos/connect_accept.mp4" (error)="videoError(connectAccept, $event, 'assets/setup/connect_accept.mp4')"></video>
      <h3 i18n>
        Step 3: Connect USB Cable and Allow USB Debugging
      </h3>
      <div class="description-section" i18n>
        Now its time to connect the USB cable. Once you are connected you will have to allow USB
        debugging access on your headset. If you put your headset on at this point you will see
        something like the below. You should also select 'Always allow from this computer' to prevent
        this message from coming up every time you connect.
      </div>
    </ng-container>
  </div>
</div>
