<app-header></app-header>
<div class="app-container">
  <app-content></app-content>
</div>

<app-loading-spinner #spinner></app-loading-spinner>
<app-status-bar #status (getHelp)="getHelpModal.openModal(); helpStatus = $event; setExterHelp()"></app-status-bar>
<webview id="mainWebView" #webview httpreferrer="https://sdiequestvr.com" [attr.src]="webUrl" allowpopups [ngStyle]="{'left':webService.isWebviewOpen?'0':'-100%'}" class="bsaber-webview"></webview>

<mz-modal #getHelpModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Get Help</h4>
  </mz-modal-header>
  <mz-modal-content>
    We have a great community and we have already faced most problems and found solutions. Please check out our Service Desk for info on the following error.<br><br>
    <div class="code">
      {{helpStatus}}
    </div>
    <br>
    <div class="green-text" *ngIf="extraHelpStatus" [innerHTML]="extraHelpStatus"></div>
    <br><br>
    <div class="center-align">
      <div class="btn pink-button waves-effect waves-light" (click)="statusService.copyStatus();statusService.showStatus('Copied to your clipboard!')">Copy To Clipboard</div><br><br>
      <div class="btn btn-flat waves-effect waves-dark" (click)="appService.opn((shortenerUrl||'https://sdq.st')+'/support')">Open Service Desk</div><br><br>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>

